<!DOCTYPE html>
<html>
<head>
  <title>Tidao</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div>
    <h1>剃刀网</h1>
    <p>如无必要，无增实体</p>
  </div>
  <hr>
<%= yield %>

</body>
</html>
